*{
    padding: 0;
    margin: 0;
}
/* Container = Definindo o tamanho da tela que o site vai ocupar */
/* #container {
    width: 1920px;
    height: 4320px;
} */
/* Dando inicio na Navbar de cima, onde coloco a logo e os botões de login e registro */
.topnav {
    position: absolute;
    overflow: hidden;
    width: 1864px;
    height: 124px;
    left: 0px;
    top: 0px;
    
    background: #262626;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    height: 32px;
    width: 500px;
    left: 1320px;
    top: 40px;
    margin-right: 100px;
    margin-top: 42px;
    border: 2px solid #262626;    
    border-radius: 30px;
}

#logo {
    position: absolute;
    width: 102px;
    height: 73px;
    left: 902px;
    top: 24px;
    
}

#login{
    position: absolute;
    width: 99px;
    height: 44px;
    left: 100px;
    top: 40px;
    
    background: #F2F2F2;
    border-radius: 20px;
    border: 2px solid #898989;
}
#register{
    box-sizing: border-box;
    position: absolute;
    width: 126px;
    height: 44px;
    left: 227px;
    top: 40px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#register:hover{
    background-color: blue;
}
#login:hover{
    background-color: blue;
}

#search{
    position: absolute;
    left: 92%;
    right: 10%;
    top: 43%;
    bottom: 98.5%;
    height: 24px;
}

#head1 {
    width: 1920px;
    height: 150px;
    background-color: #256315;
}

.botnav{
    position: absolute;
    width: 1000px;
    height: 59px;
    left: 460px;
    top: 125.5px;    
    background: #9DA657;
    border-radius: 0px 0px 20px 20px;
    z-index: 1000;
}

li {
    display: inline-block;
    list-style-type: none;
}

.menu-topo ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 85px;
    margin-top: 11px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
}

.menu-topo ul li a:link,
.menu-topo ul li a:visited{
    color: #262626;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-topo ul li a:active{
    color: #256315;
}

.retangulo{
    position: absolute;
    width: 600px;
    height: 70px;
    left: 660px;
    top: 814px;
    
    background: #9FBF30;
    border-radius: 0px 0px 20px 20px;
}

.retangulo h2{
    position: absolute;
    width: 426px;
    height: 36px;
    left: 100px;
    top: 20px;
    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #F2F2F2;
}

/* Video utilizado para fazer o slider https://www.youtube.com/watch?v=F33_O-lcx20  */

.slider{
    width: 1860px;
    height: 690px;
    position: relative;
    display: block;
    border: 2px solid #262626;
    top: 124px;
    z-index: 1;
}

.slider-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.flecha {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.flecha-voltar{
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.flecha-avanco{
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"]{
    display: none;
}

.item-1{
    z-index: 2;
    opacity: 1;
    background: url('/img/slide1.jpg');
    background-size: cover;
}

.item-2{
    background: url('/img/slide2.jpg');
    background-size: cover;
}

.item-3{
    background: url('/img/slide3.jpg');
    background-size: cover;
}

*:target ~ .item-1{
    opacity: 0;
}

#item-1:target ~ .item-1{
    opacity: 1;
}

#item-2:target ~ .item-2, 
#item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

/* Set das caracteristicas das tags dentro das noticias, para não precisar dizer o tamanho das letras
todas as vezes, fiz apenas uma vez para todas e separei as posições abaixo */

.noticia h2{
    position: absolute;
    width: 210px;
    height: 72px;
    left: 126px;
    top: 944px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #9DA657;      
}

.noticia hr{
    position: absolute;
    width: 1642px;
    height: 0px;
    left: 117px;
    top: 1022px;
    border: 3px solid #9DA657;
}

.noticia h3{
    position: absolute;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;  
    color: #9DA657;
}

.noticia h5 {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #262626;
}

.noticia p{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #262626;
}

/* Primeira Noticia */
.noticia1 h3{
    width: 98px;
    height: 48px;
    left: 126px;
    top: 1082px;
}

.noticia1 img{
    position: absolute;
    width: 480px;
    height: 300px;
    left: 126px;
    top: 1136px;    
    border-radius: 10px;
}

.noticia1 h5{
    width: 324px;
    height: 78px;
    left: 617px;
    top: 1136px;
}

.noticia1 p{
    width: 338px;
    height: 94px;
    left: 613px;
    top: 1299px;
}

/* Segunda Noticia */
.noticia2 h3{
    width: 98px;
    height: 48px;
    left: 941px;
    top: 1082px;
}

.noticia2 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 941px;
    top: 1136px;  
    border-radius: 10px;
}

.noticia2 h5{
    width: 324px;
    height: 78px;
    left: 1435px;
    top: 1136px;
}

.noticia2 p{
    width: 338px;
    height: 94px;
    left: 1435px;
    top: 1299px;
}

/* Quarta Noticia */
.noticia3 h3{
    width: 100px;
    height: 48px;
    left: 126px;
    top: 1459px;
}

.noticia3 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 126px;
    top: 1530px; 
    border-radius: 10px; 
}

.noticia3 h5{
    width: 324px;
    height: 78px;
    left: 617px;
    top: 1530px;    
}

.noticia3 p{
    width: 338px;
    height: 94px;
    left: 617px;
    top: 1700px;
}

/* Quinta Noticia */
.noticia4 h3{
    width: 100px;
    height: 48px;
    left: 941px;
    top: 1459px;
}

.noticia4 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 941px;
    top: 1530px;  
    border-radius: 10px;  
}

.noticia4 h5{
    width: 324px;
    height: 78px;
    left: 1437px;
    top: 1530px;
}

.noticia4 p{
    width: 338px;
    height: 94px;
    left: 1437px;
    top: 1700px;
}

/* Quinta Noticia  */
.noticia5 h3{
    width: 136px;
    height: 48px;
    left: 126px;
    top: 1853px;
}

.noticia5 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 126px;
    top: 1924px;
    border-radius: 10px;   
}

.noticia5 h5{
    width: 324px;
    height: 78px;
    left: 617px;
    top: 1924px;
}

.noticia5 p{
    width: 338px;
    height: 94px;
    left: 617px;
    top: 2094px;
}
/* Sexta Noticia */
.noticia6 h3{
    width: 136px;
    height: 48px;
    left: 941px;
    top: 1853px;
}

.noticia6 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 941px;
    top: 1924px;  
    border-radius: 10px;      
}

.noticia6 h5{
    width: 324px;
    height: 78px;
    left: 1437px;
    top: 1924px;
}

.noticia6 p{
    width: 338px;
    height: 94px;
    left: 1437px;
    top: 2094px;
}

/* Sétima Noticia  */
.noticia7 h3{
    width: 114px;
    height: 48px;
    left: 126px;
    top: 2247px;
}

.noticia7 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 126px;
    top: 2318px;    
    border-radius: 10px;
}

.noticia7 h5{
    width: 324px;
    height: 78px;
    left: 617px;
    top: 2318px;
}

.noticia7 p{
    width: 338px;
    height: 94px;
    left: 617px;
    top: 2488px;
}

/* Oitava Noticia */
.noticia8 h3{
    width: 114px;
    height: 48px;
    left: 941px;
    top: 2247px;
}

.noticia8 img{
    position: absolute;
    width: 483.22px;
    height: 300px;
    left: 941px;
    top: 2318px; 
    border-radius: 10px; 
}

.noticia8 h5{
    width: 324px;
    height: 78px;
    left: 1437px;
    top: 2318px;
}

.noticia8 p{
    width: 338px;
    height: 94px;
    left: 1437px;
    top: 2488px;
}

.background {
    position: absolute;
    width: 1309px;
    height: 1002px;
    left: -11px;
    top: 2725px;
}

.botpage div h5{
    position: absolute;
    width: 356px;
    height: 35px;
    left: 1111px;
    top: 3029px;
    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #262626;
}

.botpage div p{
    position: absolute;
    width: 437px;
    height: 24px;
    left: 1155px;
    top: 3398px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
}

.mapa {
    overflow:hidden;
    padding-bottom:56.25%;
}

.mapa iframe{
    left: 1146px;
    top: 3077px;
    position:absolute;
}

.rodape div{
    position: absolute;
    width: 1864px;
    height: 190px;
    left: 0px;
    top: 3799px;
    background: #262626;
}

.rodape h5{
    position: absolute;
    width: 230px;
    height: 35px;
    left: 869px;
    top: 20px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;
}

#youtube {
    position: absolute;
    width: 64px;
    height: 51.2px;
    top: 75.8px;
    left: 807px;
}
#instagram {
    position: absolute;
    width: 64px;
    height: 51.2px;
    top: 75.8px;;
    left: 906px;
}
#whatsapp {
    position: absolute;
    width: 64px;
    height: 51.2px;
    top: 75.8px;;
    left: 1003px;
}
#facebook {
    position: absolute;
    width: 64px;
    height: 51.2px;
    top: 75.8px;;
    left: 1100px;
}